@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

header {
    background-color: #02558C;
    border-bottom: solid 3px black;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
}

.login-button button a {
    text-decoration: none;
    color: #fffefe;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: flex;
    align-items: center;
    padding: 0 auto;
    margin: auto 0;
}

.mobile-menu {
    display: none;
}

#página-aberta{
    text-decoration: underline;
    color: rgb(87, 221, 255);
    font-weight: 600;
    font-size: 20px;
}

.config{
    height: 30px;
    width: 30px;
    padding-right: 10px;
    margin-bottom: 3px;
}

@media screen and (max-width: 50000px) {
    .nav-bar {
        padding: 2%;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;

    }
    .mobile-menu li{
        padding: 5% 0%;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 2% 20%;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}

@media (max-width: 268px){
    .logo img{
        height: 40px;
        width: 50px;
    }

    .config{
        height: 30px;
        width: 30px;
    }
}