.main-content {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
}

.artigos {
    display: flex;
}

.content {
    flex: 3;
    padding: 1rem;
    padding-top: 15%;
}

.image-size {

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
    border-radius: 4%;
    min-width: 100%;
    border-bottom: 2px solid #000;

}

.artigo1 {

    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background: #196ca3;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.26);  
    
}

.artigo1:hover{
    
    transition: 0.5s;
    transform: scale(1.02);
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.399);  
    
}

.artigo1 h2 {

    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding-bottom: 2%;
    color: white;
}

.artigo1 p {
    font-size: 15px;
    color: white;
}

.effect {

    flex: 0 0 calc(50% - 5%)

}

.texto {
    padding: 20px;
    text-align: justify;
}

.articles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 3%;
    margin-right: 3%;
}

.article {
    flex: 0 0 calc(50% - 5%)
}

.content article {
    margin-bottom: 2rem;
}

.content article h2 {
    margin-bottom: 0.5rem;
}

.content article p {
    margin-bottom: 0.5rem;
}

@media (max-width: 380px){
    .artigo1 p, a{
        font-size: 12px;
    }

    .artigo1 h2 {
        font-size: 13px;
    }

    .artigo1 img {
        height: 120px;
    }

    #ultimio{
        font-size: 12px;
    }

    #penult{
        font-size: 12px;
    }
}
