@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main{
    font-family: "Poppiins", sans-serif;
}

.corpo h1{
    margin-bottom: 10%;
}

.campos h3{
    font-size: 20px;
}

.campos{
    background-color: #0064a6;
    color: #ffffff;
    width: 80%;
    margin: 3% auto;
    padding: 5%;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
}

.corpo .last p{
    background-color: #0064a6;
    color: #ffffff;
    width: 100%;
    margin: 15% auto;
    margin-bottom: 10%;
    padding: 0%;
    border-radius: 20px;
}

.campos p{
    padding: 0;
    margin: 5% auto;
}
