::selection{
    background-color: #ff00dd;
    color: yellow;
}

* {
    margin: 0px;
    padding: 0px;
}

#link-top {

    display: flex;
    flex-wrap: wrap;
    margin: 0;
    position: fixed;
    right: 10px;
    bottom: 10px;
    
}

